@charset "UTF-8";
:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  background-color: rgb(15, 83, 95);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: rgba(247, 247, 247, 0.1098039216);
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  z-index: 100;
}
header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 9rem;
  padding: 1rem;
  margin-left: 2rem;
  filter: grayscale(10);
}
header .menu ul {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}
header .menu ul li a {
  color: rgb(255, 255, 255);
  padding-inline: 1.5rem;
  padding-bottom: 3.2rem;
  border-bottom: 0.5rem solid transparent;
  transition: all 500ms;
}
header .menu ul li a:hover {
  color: yellow;
  border-color: yellow;
}
header .menu_excondido ul {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}
header .menu_excondido ul li a {
  color: rgb(255, 255, 255);
  padding-inline: 1.5rem;
  padding-bottom: 3.2rem;
  border-bottom: 0.5rem solid transparent;
  transition: all 500ms;
}
header .menu_excondido ul li a:hover {
  color: yellow;
  border-color: yellow;
}

@media (max-width: 600px) {
  .hd-expanded {
    background-color: transparent;
    -webkit-backdrop-filter: blur(0rem);
            backdrop-filter: blur(0rem);
  }
  header {
    height: 9rem;
  }
  header .position {
    position: fixed;
    top: 3rem;
    right: 4rem;
  }
  header .menu_excondido {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
  }
  header .menu_excondido ul {
    flex-direction: column;
    gap: 4rem;
    text-align: center;
  }
  header .menu_excondido ul li a {
    padding-inline: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.5rem solid transparent;
  }
  header .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 247, 247, 0.1098039216);
    display: none;
  }
  header .menu ul {
    flex-direction: column;
    gap: 4rem;
    text-align: center;
  }
  header .menu ul li a {
    padding-inline: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.5rem solid transparent;
  }
  header .logo-expanded img {
    display: none;
  }
}
/*Item do menu mobile*/
#checkbox {
  display: none;
}

.position {
  display: none;
}

.hamburger {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.line {
  position: absolute;
  width: 30px;
  /*Altero o tamanho da linha superior e inferior*/
}

.line-main::before, .line-main::after,
.line-split::before, .line-split::after {
  content: "";
  position: absolute;
  width: inherit;
  height: 3px; /*AUMENTA A LARGURA DAS LINHAS*/
  background-color: #fff;
}

.line-main::before {
  transform: translateY(-11px); /* AUMENTA A DISTANCIA ENTRE AS LINHAS*/
}

.line-main::after {
  transform: translateY(11px); /* AUMENTA A DISTANCIA ENTRE AS LINHAS*/
}

.line-split::before,
.line-split::after {
  width: 15px; /*AUMENTA O TAMANHO DA LINHA DO MEIO*/
  transition: transform 0.5s, opacity 0.5s;
}

.line-split::after {
  transform: translateX(15px); /* A distancia da linha centrar AFTER ou a que está a direira*/
}

#checkbox:checked ~ .line-main::before {
  transform: rotate(45deg);
}

#checkbox:checked ~ .line-main::after {
  transform: rotate(-45deg);
}

#checkbox:checked ~ .line-split::before {
  transform: translateX(-10px); /* AUMENTA A DISTANCIA DAS LINHAS CENTRAIS QUANDO SOMEM*/
  opacity: 0;
}

#checkbox:checked ~ .line-split::after {
  transform: translateX(20px); /* AUMENTA A DISTANCIA DAS LINHAS CENTRAIS QUANDO SOMEM*/
  opacity: 0;
}

@media (max-width: 600px) {
  .position {
    display: block;
  }
}
@-webkit-keyframes animate {
  0% {
    transform: translateY(170vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(0.5);
  }
}
@keyframes animate {
  0% {
    transform: translateY(170vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(0.5);
  }
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes zap {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0.2;
  }
}
@keyframes zap {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0.2;
  }
}
.slider {
  display: block;
  height: 500px;
  width: 500px;
  margin: auto;
  /* margin-top: 20px; */
  position: relative;
}

.slider li {
  list-style: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider img {
  margin: auto;
  width: 100%;
  vertical-align: bottom;
}

.slider input {
  display: none;
}

.slider label {
  background-color: transparent;
  border: 1px solid rgb(61, 61, 61);
  color: rgb(61, 61, 61);
  position: absolute;
  bottom: 0px;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  cursor: pointer;
  display: block;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider li:nth-child(1) label {
  left: 33%;
}

.slider li:nth-child(2) label {
  left: 41%;
}

.slider li:nth-child(3) label {
  left: 49%;
}

@media (max-width: 500px) {
  .slider li:nth-child(1) label {
    left: 32%;
  }
  .slider li:nth-child(2) label {
    left: 45%;
  }
  .slider li:nth-child(3) label {
    left: 58%;
  }
}
.slider img {
  opacity: 0;
  visibility: hidden;
  transition: all 1s linear;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.slider li input:checked ~ label {
  border: 1px solid white;
  color: white;
}

/* https://www.devmedia.com.br/como-criar-um-slider-com-css-e-html/37787 */
#galeria {
  margin-top: 9rem;
}
#galeria .cards-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
#galeria .group-card {
  width: 100%;
}
#galeria .card {
  width: 100%;
  height: 20rem;
  border-radius: 3rem;
  background-image: url("../../teste-slide/terra-2.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
}
#galeria .card:hover {
  cursor: pointer;
  filter: grayscale(50%);
}
#galeria .modal-card {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.719);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
#galeria .escondido {
  display: none;
}

footer {
  width: 100%;
  background-color: rgb(15, 83, 95);
  padding-top: 10rem;
  padding-bottom: 3rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
}
footer .container {
  width: 100%;
  height: 100%;
}
footer .top {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .top .paginas-footer,
footer .top .links-externos,
footer .top .logo-footer {
  height: 100%;
  background-color: rgb(15, 83, 95);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
footer .top .logo-footer {
  width: 35rem;
}
footer .top .logo-footer img {
  width: 40%;
}
footer .top .paginas-footer {
  flex-direction: column;
  align-items: flex-start;
  width: 20rem;
}
footer .top .paginas-footer h3 {
  color: yellow;
  margin-bottom: 2rem;
}
footer .top .paginas-footer a {
  color: rgb(255, 255, 255);
  line-height: 1.5;
}
footer .top .paginas-footer a:hover {
  text-decoration: underline;
}
footer .top .links-externos {
  width: 30rem;
}
footer .top .links-externos ul {
  display: flex;
  gap: 3rem;
}
footer .top .links-externos img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: red;
  transition: all 0.7ms;
}
footer .top .links-externos img:hover {
  transform: scale(1.2);
  background-color: rgb(180, 0, 0);
}
footer .top .bottom {
  width: 100%;
  height: 10%;
  text-align: center;
  color: yellow;
}
footer .botao-flutuante {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .botao-flutuante .fundo-zap {
  position: absolute;
  width: 7rem;
  height: 7rem;
  background-color: #34af23;
  border-radius: 50%;
  -webkit-animation: zap 2s infinite linear;
          animation: zap 2s infinite linear;
}
footer .botao-flutuante .zap {
  position: relative;
  width: 7rem;
  height: 7rem;
  background-color: #34af23;
  border-radius: 50%;
}
footer .botao-flutuante .zap:hover {
  cursor: pointer;
}
footer .botao-flutuante .zap a {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .botao-flutuante .zap img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=galeria.css.map */