@import '../scss/variables';
@import '../scss/config';
@import '../scss/header';
@import '../scss/animacoes';
@import '../scss/slider';

#galeria{
  margin-top: 13rem;

  h1{
    color: $txtY;
    display: block;

    margin-bottom: 5rem;
    margin-left: 7rem;
    font-size: 4rem;
  }

  h2{
    color: $txtY;
  }
  .cards-imagens{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;
    padding-inline: 2rem;

    .group-card:nth-child(2) .card{
      background-image: url(../../img/planetas/marte-1.jpg);
    }

    .group-card:nth-child(3) .card{
      background-image: url(../../img/planetas/jupter-1.jpg);
    }

    .group-card:nth-child(4) .card{
      background-image: url(../../img/planetas/mercurio-1.jpg);
    }

    .group-card:nth-child(5) .card{
      background-image: url(../../img/planetas/saturno-1.jpg);
    }

    .group-card:nth-child(6) .card{
      background-image: url(../../img/planetas/venus-1.jpg);
    }

    .group-card:nth-child(2) .card{
      background-image: url(../../img/planetas/marte-1.jpg);
    }
  }

  .group-card{
    width: 100%;
  }
  .card{
    width: 100%;
    height: 20rem;

    border-radius: 3rem;

    background-image: url(../../img/planetas/terra-2.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    padding: 2rem;

    &:hover{
      cursor: pointer;

        filter: grayscale(50%);
    }
  }

  .modal-card{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;  

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;

    background-color: rgba(0, 0, 0, 0.719);
    backdrop-filter: blur(2px);
  }
  
  .escondido{
    display: none;
  }
}


@import '../scss/footer';