@import '../scss/variables';
@import '../scss/config';
@import '../scss/header';
@import '../scss/animacoes';
@import '../scss/slider';

#galeria{
  margin-top: 9rem;

  .cards-imagens{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;
  }

  .group-card{
    width: 100%;
  }
  .card{
    width: 100%;
    height: 20rem;

    border-radius: 3rem;

    background-image: url('../../teste-slide/terra-2.jpg');
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    padding: 2rem;

    &:hover{
      cursor: pointer;

        filter: grayscale(50%);
    }
  }

  .modal-card{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;  

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;

    background-color: rgba(0, 0, 0, 0.719);
    backdrop-filter: blur(2px);
  }
  
  .escondido{
    display: none;
  }
}


@import '../scss/footer';