$primaryColor: #000038;
$secundaryColor: rgb(5, 23, 126);
$branco: white;


$txtW: white;
$txtY: yellow;

$bols1: rgba(152, 253, 253, 0.87);
$shadowb1: rgb(134, 255, 255);

$bols2: #dafbff;
$shadowb2: #ffffff;

// $bols2: #ff2d75;
// $shadowb2: #ff2d7544;

$backFormulario: rgba(255, 255, 255, 0.048);
$formtxt: white;