$primaryColor: #f7f7f71c;
$secundaryColor: rgb(15, 83, 95);
$branco: white;


$txtW: rgb(255, 255, 255);
$txtY: yellow;

$bols1: rgba(152, 253, 253, 0.87);
$shadowb1: rgb(134, 255, 255);

$bols2: #dafbff;
$shadowb2: #ffffff;

// $bols2: #ff2d75;
// $shadowb2: #ff2d7544;

$backFormulario: rgba(255, 255, 255, 0.048);
$formtxt: white;